extends layout

block styles
	// Site stylesheet
	//- link(rel='stylesheet', href='/app/styles/app.css')
	link(rel='stylesheet', href='/node_modules/vue-material/dist/vue-material.css')
	link(rel='stylesheet', href='/node_modules/material-colors/dist/colors.css')
	link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
	link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css")

block content
	#app

block scripts
	// Site scripts
	script(src='/app/app.js')
	//- script(src='/app/vendor.js')